body {
    /* Control de fondo*/
    background-image: url('../img/fondo2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    backdrop-filter: blur(4px);
    /* Control de fondo*/
    margin: 0;
    padding: 0;
}

.volver {
    position: fixed;
    padding-left: 1rem;
    padding-top: 1rem;
}

.botones {
    height: 87vh;  
}

.botones button {
    margin-top: 15rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.botones button:hover {
    background-color: #eb610a;
}