:root {
  --color-primary: #000; /* Negro */
  --color-secondary: #273581; /* Azul sobrio */
  --color-accent: #eb610a; /* Naranja elegante */
  --color-bg-light: #f5f5f5; /* Fondo claro */
  --color-bg-dark: #111; /* Fondo oscuro */
  --color-text: #333; /* Texto general */
  --color-text-light: #fff; /* Texto claro */
  --font-primary: "Roboto", sans-serif; /* Fuente principal */
}

.header,
.header .nav-link {
  font-family: var(--font-primary);
}

/* General */
body.bg-light {
  background-color: var(--color-bg-dark);
  color: var(--color-text-light);
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: var(--color-text);
}

/* Estilos para el Header */
.header {
  background-color: var(--color-primary) !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .logo-img {
  max-height: 50px;
  filter: drop-shadow(1px 1px 4px white);
}

.header .nav {
  display: flex;
  align-items: center;
}

.header .nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .nav-link {
  text-decoration: none;
  color: var(--color-text-light);
  font-weight: 500;
  transition: color 0.3s ease;
}

.header .nav-link:hover,
.header .nav-link.active {
  color: var(--color-accent);
}

/* Botones de idioma */
.header .lang-switch {
  display: flex;
  gap: 0.5rem;
}

.header .lang-switch .btn {
  font-size: 0.9rem;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  color: var(--color-text-light);
  border: 1px solid var(--color-accent);
  background-color: transparent;
  transition: all 0.3s ease;
}

.header .lang-switch .btn:hover {
  background-color: var(--color-accent);
  color: var(--color-bg-light);
}

/* Estilos para el Footer */
.footer {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  border-top: 1px solid var(--color-bg-light);
}

.footer-info {
  font-size: 0.9rem;
  color: var(--color-text-light);
}

.footer-info .footer-link {
  text-decoration: none;
  color: var(--color-accent);
  font-weight: 500;
}

.footer-info .footer-link:hover {
  text-decoration: underline;
  color: var(--color-secondary);
}

/* Redes sociales */
.footer-socials {
  display: flex;
  align-items: center;
}

.footer-socials .social-link {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: var(--color-bg-dark);
  border: 1px solid var(--color-accent);
  transition: all 0.3s ease;
}

.footer-socials .social-link img {
  width: 100%;
  height: 100%;
}

.footer-socials .social-link:hover {
  background-color: var(--color-accent);
  border-color: var(--color-secondary);
}

.footer-socials .social-link:hover img {
  filter: invert(0); /* Revertir iconos si el fondo es claro */
}
