
:root {
  --color-primary: #000; /* Negro */
  --color-secondary: #273581; /* Azul sobrio */
  --color-accent: #eb610a; /* Naranja elegante */
  --color-bg-light: #f5f5f5; /* Fondo claro */
  --color-bg-dark: #111; /* Fondo oscuro */
  --color-text: #333; /* Texto general */
  --color-text-light: #fff; /* Texto claro */
  --font-primary: "Roboto", sans-serif; /* Fuente principal */
}

/* General */
body.bg-light {
  background-color: var(--color-bg-dark);
  color: var(--color-text-light);
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: var(--color-text);
}

/* Página general */
.index-page {
  /* Fondo de toda la página */
  background-image: url(../img/back.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Sección de bienvenida */
.entrada-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: 81.5vh;
  text-align: center; 
}

/* Contenedor del logo */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 2rem;
}

/* Estilo del logo */
.logo-img {
  max-width: 150px; 
  height: auto;
}


.text-welcome {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-text-light);
}


.btn-entrar {
  background-color: var(--color-secondary);
  border: none;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-entrar:hover {
  background-color: var(--color-accent);
  transform: scale(1.05);
}

.btn-link {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.btn-link:hover {
  color: #ffffff;
  text-decoration: none;
}
