.about-section {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
  color: #003366;
  border-left: 4px solid #007bff;
  padding-left: 10px;
  margin-bottom: 10px;
}

.about-section p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.about-section ul {
  list-style-type: square;
  margin-left: 20px;
}

.about-section ul li {
  margin-bottom: 10px;
}

h1 {
  color: #003366;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.carousel img {
  border-radius: 10px;
  max-height: 300px;
  object-fit: cover;
}

.carousel-caption p {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
}

.testimonials.owl-carousel .owl-item img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0 auto;
}

/*flechas*/

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  font-size: 80px;
}

.owl-carousel .owl-nav button.owl-prev:hover {
  background-color: transparent;
  color: #000;
}

.owl-carousel .owl-nav button.owl-next:hover {
  background-color: transparent;
  color: #000;
}

.item {
  background: #eb610a;

  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.item h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 15px 0;
  line-height: 1.3;
  color: #000;
}

.item p {
  margin: 15px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  color: #fff;
}

.testimonials_container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.owl-item {
  text-align: center;
}


.carr img {
  margin-left: 424px;
  width: 200px;
  border: #000 solid 1px;
}