body {
    /* Control de fondo*/
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    backdrop-filter: blur(4px);
    /* Control de fondo*/
    margin: 0;
    padding: 0;
}

.entrada {
    height: 87vh;
}

.logo img {
    width: 20rem;
}

.entrada div img{
    margin-top: 8rem;

}

h2 {
    color: #eb610a;
}