body {
    /* Control de fondo*/
    background-image: url('../img/fondo1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    backdrop-filter: blur(4px);
    /* Control de fondo*/
    margin: 0;
    padding: 0;
}

.volver {
    position: fixed;
    padding-left: 1rem;
    padding-top: 1rem;
}

.logo img {
    width: 5rem;
}

.cuadro {
    padding-top: 2rem;
}
.cuadro label {
    color: #fff;
}

.cuadro a {
    color: #2941a8;
}

.cuadro a:hover {
    color: #fff;
}


h3 {
    color: #eb610a;
}